{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrahead %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="{% static "materialize/css/materialize.min.css" %}"  media="screen,projection"/>
  <link rel="stylesheet" href="{% static "css/personalizado.css" %}">
{% endblock %}

{% block title %}{% trans 'Pedidos' %} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
  &rsaquo;
  <a href="{% url 'admin:pedidos_pedido_changelist' %}">{% trans 'Pedidos' %}</a>
  {% if title %} &rsaquo;{% trans 'Pedidos - detalhes' %}{% endif %}
  </div>
{% endblock %}

{% block usertools %}
  <div id="user-tools">
      {% block welcome-msg %}
          {% trans 'Welcome,' %}
          <strong>{% firstof user.get_short_name user.get_username %}</strong>.
      {% endblock %}
      {% block userlinks %}
          <a href="{% url 'pedidos_resumo' %}">{% trans 'Pedidos' %}</a> /
          {% if user.has_usable_password %}
              <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
          {% endif %}
              <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
      {% endblock %}
  </div>
{% endblock %}

{% block content %}
  <div id="content-main">

    <div class="accordion" id="detalhes_pedido">
      {% for p in results %}
        <div class="card">
          <div class="card-header" id="head{{p.pedidos.id}}">
            <h5 class="mb-0 mt-0">
              <button class="btn btn-link pedido_detalhe" teste="{{p.pedidos.id}}" data-pedido-id="{{p.pedidos.id}}" type="button" data-toggle="collapse" data-target="#pedido{{p.pedidos.id}}" aria-expanded="true" aria-controls="pedido{{p.pedidos.id}}">
                  {{p.pedidos.titulo}}
              </button>
            </h5>
          </div>

          <div id="pedido{{p.pedidos.id}}" class="collapse" aria-labelledby="heading{{p.pedidos.id}}" data-parent="#detalhes_pedido">
            <div class="card-body">
              <p class="licenca bg-success text-white pedido_{{p.pedidos.id}}_licenca"></p>
              <ul class="p_produtos_{{p.pedidos.id}}"></ul>

              <table class="table table-striped">
                <tbody>
                  <tr>
                    <td>
                      {% trans 'Contrato de Licença' %}
                    </td>
                    <td class="pedido_{{p.pedidos.id}}_licenca">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      {% trans 'Status' %}
                    </td>
                    <td class="pedido_{{p.pedidos.id}}_status">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      {% trans 'Preço' %}
                    </td>
                    <td>
                      <b>R$ <span class="pedido_{{p.pedidos.id}}_preco"></span></b>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      {% trans 'Data de criação' %}
                    </td>
                    <td class="pedido_{{p.pedidos.id}}_data_criacao">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      {% trans 'CNPJ para envio' %}
                    </td>
                    <td class="pedido_{{p.pedidos.id}}_cnpj">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      {% trans 'Telefone para envio' %}
                    </td>
                    <td class="pedido_{{p.pedidos.id}}_telefone">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      {% trans 'Estado para envio' %}
                    </td>
                    <td class="pedido_{{p.pedidos.id}}_uf">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      {% trans 'Cidade para envio' %}
                    </td>
                    <td class="pedido_{{p.pedidos.id}}_cidade">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      {% trans 'CEP para envio' %}
                    </td>
                    <td class="pedido_{{p.pedidos.id}}_cep">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      {% trans 'Endereço para envio' %}
                    </td>
                    <td class="pedido_{{p.pedidos.id}}_endereco">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      {% trans 'País para envio' %}
                    </td>
                    <td class="pedido_{{p.pedidos.id}}_pais">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      {% trans 'Comentário do pedido' %}
                    </td>
                    <td class="pedido_{{p.pedidos.id}}_comentario">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      {% trans 'Executivo de vendas' %}
                    </td>
                    <td class="pedido_{{p.pedidos.id}}_executivo_vendas">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      {% trans 'Número do pedido do hardware' %}
                    </td>
                    <td class="pedido_{{p.pedidos.id}}_num_hardware">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      {% trans 'NFe número' %}
                    </td>
                    <td class="pedido_{{p.pedidos.id}}_nfe">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      {% trans 'Data emissão NFe' %}
                    </td>
                    <td class="pedido_{{p.pedidos.id}}_data_emissao_nfe">
                    </td>
                  </tr>
                </tbody>
              </table>


              <table id="change-history">
                <thead>
                  <tr>
                    <th colspan="2"><b>{% trans 'Histórico de pedidos' %}</b></th>
                  </tr>
                </thead>
                <tbody class="tbody_history_{{p.pedidos.id}}"></tbody>
              </table>

            </div> <!-- .card-body ::end::-->
          </div> <!-- #collapseOne ::end::-->
        </div>
      {% endfor %}

    </div> <!-- #detalhes_pedido  ::end::-->
</div> <!-- #content-main ::end:: -->

  <div class="token">
    {% csrf_token %}
  </div>
{% endblock %}

{% block jsclosebody %}
  <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
  <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
  <script type="text/javascript" src="{% static "materialize/js/materialize.min.js" %}"></script>
  <script src="{% static "js/jquery.mask.min.js" %}"></script>
  <script src="{% static "js/pedidos_detalhes.js" %}"></script>
{% endblock %}